@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  font-family: 'Bitter', serif;
}

p,
span,
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-decoration: none;
}
